body {
  margin: auto;
  background-image: url("train2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  padding: 25px;
}

h1,
h4 {
  text-align: center;
  color: silver;
}

.card-header {
  text-align: center;
  font-weight: bold;
}

.card-header,
.card-body {
  border: 1px solid silver;
}

td {
  text-align: center;
}
